@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{

font-family:"Lato", Helvetica, sans-serif ;


    text-decoration: none;
}

body{
    background-color: beige;
}

/* header styles startz */

.headers img{
    width: 10rem;

     }

.headers .navbar img{
   width: 2.5rem;
   border-radius: 4px;
    }
.headers .navbar a{
    color: black;

}
.hammenu{
    font-size: 1.5rem;
    display: none;


}
.navbar{
    display: flex;
    gap: 40px;
    align-items: center;
   

}
.headers{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1.5rem 5%;
    box-shadow: 1px black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

/* header styles ends */

/* hero styles  starts*/

.herosin{
   
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    max-width: 100vw; 
   

}
.heroimg{
display: flex;
background-image: url('./image/studying.jpg');
background-size: cover;
color: black;
width: 100%;
background-position: center;
border-radius: 4px;
justify-content: center;
flex-wrap: wrap;


}
.herooverlay{
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;


}

.hmcontainer{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
}
.hmcontainer h1{
   
    width: 100%;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2%;

}
.hmcontainer p{
    
    margin-top: -2rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;

}

.hmcontainer button{
    padding: 10px 20px;
    border: none;
    color: white;
    font: 1rem;
    background-color: rgb(33, 216, 16);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-weight: bolder;
    
}
.hmcontainer button:hover{
    background-color: rgb(1, 18, 1);
    
    }
/* hero styles  ends*/



.klouter{
    display: flex;
    justify-content: center;
    

}

.klcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    row-gap: 3%;
    width: 100%;
   
   
}
.kelas{
    
    margin:2rem auto ;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
 

}

.ket{

    display: inline-block;
    width: 100%;
    
}
.ket h2{
    
    font-size: 2rem;

}
.kelas .ket p{
    font-size: 1.2rem;

}

.ktcontainer{
    
    width: 100%;
    display: flex;
    gap: 5%;
    margin-top: 2px;
   
  
}

/* kondisi Base State (Before Hover) */
.ktcontainer a{
    font-size: 1.2rem;
    transition: color 0.5s, font-weight 0.5s;   /* ini buat manggil hovernya pakai transisi*/
}

/* ini kondisi hover */
.ktcontainer a:hover {
    color: orange; /* Orange text when hovered */
    font-weight: bold;
    cursor: pointer;
  }

  /* ini pseudo elementya sudah di buat sebelum dihover atau Pseudo-Element (::after) in Base State*/
  .ktcontainer a::after {
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: orange; /* merah underline */
    margin: 5px 0;
    border-radius: 6px;
    transition: width 0.5s;
  }

  /* ini jalan saat dihover */
  .ktcontainer a:hover::after{
    width: 80%;

  }



/* card styling */
.card{

    box-shadow: 2px black;
    display: inline;
    width: 30%;
    border-radius: 10px;
    padding: 1rem 1rem;
    background-color: white;
    margin-top: 2rem;
    


}

.card h4{
    margin:2% 0 2% 0;
 
    font-size: 80%;

}
.card p{
    
    color: rgb(96, 95, 95);
    margin-top: -2px;
    font-size: 80%;
    
}


.card .cardimg{

    border-radius: 10px;
    max-width: 100%;
    
}

/* tutor styling starts */
.teacher{
    display: flex;
    align-items: center;
    background-color: #fff;
    max-width: 100%;
    margin-top:2rem;
    
}
.teacher h4{
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    font-size: 80%;

}
.teacher p{
    margin: 0;
    font-size: rem;
    color: #666;

}




.tutorimg{
    width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 15px;

}

/* Tutor styling ends */

/* Ratings and Price styling starts */
.rate{
   
    display: flex;
    justify-content: space-between;
}

.sec{
    min-width: 60%;
    display: flex;
    align-items: center;
    

}

.rate .sec img{

    width: 50%;

}


.sec p{
    margin-top: 6%;
    margin-left: 2%;
    text-decoration: underline;
    font-size: 1.3rem;

}
.rate h3{
 color: rgb(1, 145, 1);
 font-size: 170%;
 

}

/* Rating and price styling ends */

/* card styling ends */


/* subs banner styling starts */
.cta{
    
    display: flex;
    width: 100%;
    justify-content: center;

 


}
.ctaimg{
    display: flex;
    background-image: url('./image/studying.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-radius: 4px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
   

.flexor{
   
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: auto;
    justify-content: center;
}
}
.content{

    background-color: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}


.ctaimg h6{
    margin-bottom: 0px;
    color: white;
    width: 60%;
} 
.ctaimg p{
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    width: 80%;
}
.flexor h2{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 60%;
}

.subscontainer{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    height:2rem;
    padding: 2% 2% 2% 2% ;
    margin-top: 2px;
    gap: 7rem;
    
    
}

.emailinput{

border: none;

}

.btsubs{
padding: 10px 20px;
border: none;
color: white;
font: 1rem;
font-weight: bold;
background-color: orange;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.5s ease;
}
.btsubs:hover{
background-color: green;

}

/* subs banner styling ends */

/* footer styling starts */

.ft{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 0;
    margin-top: 5%;
}

.aboutcontainer{
  
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 80px;
    

}

.about{
   
    justify-content: flex-start;
    align-items: center;
    width: 370px;

}

.about img{
width: 17rem;

}

.others{
    display: flex;
    
    justify-content: flex-end;
    width: 50%;
   
   
    

}

.others ul{
    margin: 0;
    

}

.other1{

    list-style-type: none;
    padding-left: 6%;
    
    
}
.other1 li{
    padding-bottom: 10px; 


}
.other1 li strong{
    padding-bottom: 10px; 


}

.line{
    border-bottom:1px solid gainsboro;
    width: 100%;
    margin: 20px 80px;
    

}

.media{

    width: 100%;
    margin: 10px 0px;
    padding: 0 7dvb;
    display: flex;
    justify-content: space-between;
}

.sosmed{

    display: flex;
    width:20rem;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.sosmed img{
    max-height: 80%;

    /* prevent from logo streching */
    object-fit: contain; 
}


/* footer banner styling ends */













@media (max-width:550px) {
    
    .navbar{
        display: none;

    }
    .hammenu{
        color: beige;
        display: flex;
        justify-content: center;
    }

    
   .headers{
    background-color: black;

   }

    .heroimg{


        width: 100%;

    }
    .ktcontainer{

        overflow: auto;
    }

    .card{

        box-shadow: 2px black;
        display: inline;
        width: 80%;
        border-radius: 10px;
        margin-top: 2rem;
        
    }
    .teacher p{
        margin: 0;
      
       
    
    }
    
    
    .card{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .cardname{
       
        display: inline-block;
        margin-left: 0.2rem;

    }
    
    .cardname p span{

        display: none;
    }
    
    .cardtop{
       
        display: inline;
       
    }

    .cardimg{
    object-fit: cover;
    width: 70px;
    height: 70px;
    

    }
  
   .desc{
    display: none;
   }
   .teacher{
    margin-top:0;

   }

   .teacher img{
    width: 40px;
    height: 40px;
    

   }


   .rate{
    margin: -5% 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.sec{
    
    min-width: 60%;
    display: flex;
   align-items: center;
   
    

}

.rate .sec img{
    width: 70px;

}


.sec p{
    text-decoration: underline;
    font-size: 10px;

}
.rate h3{
 color: rgb(1, 145, 1);
 font-size: 20px;
 

}



.subscontainer{
    gap:1rem;
    flex-wrap: wrap;
    height: auto;
    background-color: rgb(0,0,0,0);
}
.emailinput{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 4%;
    border-radius: 5px;
}
.btsubs{

    width: 100%;

}

.cta{

    width: 100%;
}
.ctaimg{
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
}

.ft{
    
    display: flex;
    flex-wrap: wrap;
}

.about{

    width: 100%;
}

.othersdetail{
    display: none;
}

.other1{
    
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 100%;
    justify-content: space-between;

}
.arrow{
    
    font-size: 1rem;
}

.others{
   
    align-items: center;
    gap:0.5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.aboutcontainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
}

}
